In [1]:
import pandas as pd
from sqlalchemy import create_engine

/home/ubuntu/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/ubuntu/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
user = 'postgres'
password='mypassword1'
host='python-apart-db.cwpuy8qexowf.ap-northeast-2.rds.amazonaws.com'
port='5432'
database='python_apart_db'

In [3]:
# PostgreSQL 데이터베이스에 연결하는 Engine 생성
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}', echo=False)

In [4]:
conn = engine.connect()

In [5]:
df = pd.DataFrame({"a":[1,2,3],
                  "b" : ['a','b','c']})

In [6]:
df.to_sql("table_test",con = conn, if_exists="append", index= False)

3

In [7]:
sql = 'SELECT * FROM table_test'
pd.read_sql(sql,conn)

   a  b
0  1  a
1  2  b
2  3  c
3  1  a
4  2  b
5  3  c