In [1]:
import pandas as pd
import os
import geopandas as gpd
import glob

os.chdir("/home/ubuntu/real_estate_dashboard")
print(os.getcwd())

legal_info_b = pd.read_csv("./0_data/legal_info_b.csv",dtype={'법정동코드' : 'str',
                                                              '법정동시군구코드': 'str','법정동읍면동코드':'str'})
legal_info_b

/home/ubuntu/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/ubuntu/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

/home/ubuntu/real_estate_dashboard

,법정동코드,시도명,시군구명,읍면동명,동리명,생성일자,말소일자,법정동시군구코드,법정동읍면동코드,주소
0,1111010100,서울특별시,종로구,청운동,NaN,19880423,,11110,10100,서울특별시 종로구 청운동
1,1111010200,서울특별시,종로구,신교동,NaN,19880423,,11110,10200,서울특별시 종로구 신교동
2,1111010300,서울특별시,종로구,궁정동,NaN,19880423,,11110,10300,서울특별시 종로구 궁정동
3,1111010400,서울특별시,종로구,효자동,NaN,19880423,,11110,10400,서울특별시 종로구 효자동
4,1111010500,서울특별시,종로구,창성동,NaN,19880423,,11110,10500,서울특별시 종로구 창성동
...,...,...,...,...,...,...,...,...,...,...
20273,5013032022,제주특별자치도,서귀포시,표선면,하천리,20060701,,50130,32022,제주특별자치도 서귀포시 표선면 하천리
20274,5013032023,제주특별자치도,서귀포시,표선면,성읍리,20060701,,50130,32023,제주특별자치도 서귀포시 표선면 성읍리
20275,5013032024,제주특별자치도,서귀포시,표선면,가시리,20060701,,50130,32024,제주특별자치도 서귀포시 표선면 가시리
20276,5013032025,제주특별자치도,서귀포시,표선면,세화리,20060701,,50130,32025,제주특별자치도 서귀포시 표선면 세화리
20277,5013032026,제주특별자치도,서귀포시,표선면,토산리,20060701,,50130,32026,제주특별자치도 서귀포시 표선면 토산리

### 법정동 데이터 끝자리에 00 을 더해줘서 지리데이터와 형식을 똑같이 맞춥니다

In [2]:
legal_info_b['법정동코드_2'] = legal_info_b['법정동코드'].str[:8] + '00'
legal_info_b.head(3)

,법정동코드,시도명,시군구명,읍면동명,동리명,생성일자,말소일자,법정동시군구코드,법정동읍면동코드,주소,법정동코드_2
0,1111010100,서울특별시,종로구,청운동,NaN,19880423,,11110,10100,서울특별시 종로구 청운동,1111010100
1,1111010200,서울특별시,종로구,신교동,NaN,19880423,,11110,10200,서울특별시 종로구 신교동,1111010200
2,1111010300,서울특별시,종로구,궁정동,NaN,19880423,,11110,10300,서울특별시 종로구 궁정동,1111010300

### 지리 데이터를 불러옵니다

In [3]:
geo_data = gpd.read_file('./0_data/geoservice/emd.shp' , encoding='utf-8')
geo_data

,EMD_CD,EMD_ENG_NM,EMD_KOR_NM,geometry
0,11110101,Cheongun-dong,b'c3bbbfeeb5bf',"POLYGON ((953700.022 1954605.065, 953693.871 1..."
1,11110102,Singyo-dong,b'bdc5b1b3b5bf',"POLYGON ((953233.465 1953996.984, 953235.183 1..."
2,11110103,Gungjeong-dong,b'b1c3c1a4b5bf',"POLYGON ((953560.228 1954257.466, 953561.190 1..."
3,11110104,Hyoja-dong,b'c8bfc0dab5bf',"POLYGON ((953519.843 1953890.785, 953518.489 1..."
4,11110105,Changseong-dong,b'c3a2bcbab5bf',"POLYGON ((953516.123 1953734.362, 953516.526 1..."
...,...,...,...,...
5060,50130250,Daejeong-eup,b'b4ebc1a4c0be',"MULTIPOLYGON (((884996.737 1458754.044, 884991..."
5061,50130253,Namwon-eup,b'b3b2bff8c0be',"MULTIPOLYGON (((921259.356 1470626.820, 921220..."
5062,50130259,Seongsan-eup,b'bcbabbeac0be',"MULTIPOLYGON (((944514.344 1490162.400, 944510..."
5063,50130310,Andeok-myeon,b'bec8b4f6b8e9',"MULTIPOLYGON (((889476.251 1469109.037, 889465..."
5064,50130320,Pyoseon-myeon,b'c7a5bcb1b8e9',"POLYGON ((938533.676 1481797.427, 938533.718 1..."

In [4]:
geo_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5065 entries, 0 to 5064
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EMD_CD      5065 non-null   object
 1   EMD_ENG_NM  5065 non-null   object
 2   EMD_KOR_NM  5065 non-null   object
 3   geometry    5065 non-null   geometry
dtypes: geometry(1), object(3)
memory usage: 158.4+ KB

In [5]:
geo_data['EMD_CD'] = geo_data['EMD_CD'] + '00'
geo_data['EMD_KOR_NM'] = geo_data['EMD_KOR_NM'] .str.decode('euc-kr')

geo_data.rename(columns={'EMD_CD' : '법정동코드_2'} , inplace=True)
geo_data = geo_data[['법정동코드_2','geometry']]
geo_data

         법정동코드_2                                           geometry
0     1111010100  POLYGON ((953700.022 1954605.065, 953693.871 1...
1     1111010200  POLYGON ((953233.465 1953996.984, 953235.183 1...
2     1111010300  POLYGON ((953560.228 1954257.466, 953561.190 1...
3     1111010400  POLYGON ((953519.843 1953890.785, 953518.489 1...
4     1111010500  POLYGON ((953516.123 1953734.362, 953516.526 1...
...          ...                                                ...
5060  5013025000  MULTIPOLYGON (((884996.737 1458754.044, 884991...
5061  5013025300  MULTIPOLYGON (((921259.356 1470626.820, 921220...
5062  5013025900  MULTIPOLYGON (((944514.344 1490162.400, 944510...
5063  5013031000  MULTIPOLYGON (((889476.251 1469109.037, 889465...
5064  5013032000  POLYGON ((938533.676 1481797.427, 938533.718 1...

[5065 rows x 2 columns]

In [6]:
geo_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5065 entries, 0 to 5064
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드_2   5065 non-null   object
 1   geometry  5065 non-null   geometry
dtypes: geometry(1), object(1)
memory usage: 79.3+ KB

### 법정동 데이터와 지리 데이터를 병합 시켜줍니다

In [7]:
legal_geo_info = pd.merge(legal_info_b, geo_data,
                         on = '법정동코드_2',
                         how = 'left')

print(len(legal_geo_info))
legal_geo_info.head(3).T

20278

,0,1,2
법정동코드,1111010100,1111010200,1111010300
시도명,서울특별시,서울특별시,서울특별시
시군구명,종로구,종로구,종로구
읍면동명,청운동,신교동,궁정동
동리명,NaN,NaN,NaN
생성일자,19880423,19880423,19880423
말소일자,,,
법정동시군구코드,11110,11110,11110
법정동읍면동코드,10100,10200,10300
주소,서울특별시 종로구 청운동,서울특별시 종로구 신교동,서울특별시 종로구 궁정동
법정동코드_2,1111010100,1111010200,1111010300
geometry,POLYGON ((953700.0221347539 1954605.0654306228...,POLYGON ((953233.4654317541 1953996.9839332262...,POLYGON ((953560.2281430522 1954257.4664824517...

In [8]:
# key : 법정동코드
legal_geo_info_2 = legal_geo_info[['법정동코드','시도명','시군구명','동리명','geometry']]

# key : 법정동시군구코드
legal_geo_info_3 = legal_geo_info[['법정동시군구코드','시도명','시군구명','geometry']]

# key : 주소
legal_geo_info_4 = legal_geo_info[['주소','법정동코드','법정동읍면동코드','geometry']]

In [9]:
legal_geo_info_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20278 entries, 0 to 20277
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드     20278 non-null  object
 1   시도명       20278 non-null  object
 2   시군구명      20128 non-null  object
 3   동리명       15212 non-null  object
 4   geometry  20277 non-null  geometry
dtypes: geometry(1), object(4)
memory usage: 792.2+ KB

### 국토교통부 데이터를 처리합니다
### 아파트 매매 데이터 전처리

In [10]:
apt_trade = pd.read_csv('0_data/apt_trade/apt_trade_202101.csv' , thousands=r',')
apt_rent = pd.read_csv('0_data/apt_rent/apt_rent_202101.csv' , thousands=r',')

offi_trade = pd.read_csv('0_data/offi_trade/offi_trade_202101.csv', thousands=r',')
offi_rent = pd.read_csv('0_data/offi_rent/offi_rent_202101.csv', thousands=r',')

apt_trade.head(3).T

                  0               1          2
거래금액         130000          150000     175000
거래유형
건축년도           2000            2008       2004
년              2021            2021       2021
도로명         자하문로33길            경희궁길      사직로8길
도로명건물본번호코드       43              57         24
도로명건물부번호코드        0               0          0
도로명시군구코드      11110           11110      11110
도로명일련번호코드         1               1          5
도로명지상지하코드         0               0          0
도로명코드       4100285         4100010    4100135
등기일자
법정동             청운동             사직동        내수동
법정동본번코드        0056            0009       0071
법정동부번코드          45               1          0
법정동시군구코드      11110           11110      11110
법정동읍면동코드      10100           11500      11800
법정동지번코드           1               1          1
아파트            청운현대  광화문스페이스본(106동)  경희궁의아침2단지
월                 1               1          1
일                14               7         15
일련번호        11110-4      11110-2204  11110-115
전용면적         129.76          144.52     174.55
중개사소재지
지번            56-45             9-1         71
지역코드          11110           11110      11110
층                 2               6          4

In [11]:
apt_trade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60133 entries, 0 to 60132
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   거래금액        60133 non-null  int64
 1   거래유형        60133 non-null  object
 2   건축년도        60133 non-null  int64
 3   년           60133 non-null  int64
 4   도로명         60133 non-null  object
 5   도로명건물본번호코드  60133 non-null  int64
 6   도로명건물부번호코드  60133 non-null  int64
 7   도로명시군구코드    60133 non-null  int64
 8   도로명일련번호코드   60133 non-null  int64
 9   도로명지상지하코드   60133 non-null  object
 10  도로명코드       60133 non-null  int64
 11  등기일자        60133 non-null  object
 12  법정동         60133 non-null  object
 13  법정동본번코드     60133 non-null  object
 14  법정동부번코드     60133 non-null  int64
 15  법정동시군구코드    60133 non-null  int64
 16  법정동읍면동코드    60133 non-null  int64
 17  법정동지번코드     60133 non-null  int64
 18  아파트         60133 non-null  object
 19  월           60133 non-null  int64
 20  일           60133 non-null  int64
 21  일련번호        60133 non-null  object
 22  전용면적        60133 non-null  float64
 23  중개사소재지      60133 non-null  object
 24  지번          60133 non-null  object
 25  지역코드        60133 non-null  int64
 26  층           60133 non-null  int64
dtypes: float64(1), int64(16), object(10)
memory usage: 12.4+ MB

### 사용하는 컬럼 만 재정의 해줍니다

In [12]:
apt_trade['법정동코드'] = apt_trade['법정동시군구코드'].astype(str) + apt_trade['법정동읍면동코드'].astype(str)
apt_trade = apt_trade[['거래금액','거래유형','건축년도','전용면적','법정동','법정동코드','아파트','층','년','월','일']]

print(len(apt_trade))
apt_trade.head(3).T

60133

                0               1           2
거래금액       130000          150000      175000
거래유형
건축년도         2000            2008        2004
전용면적       129.76          144.52      174.55
법정동           청운동             사직동         내수동
법정동코드  1111010100      1111011500  1111011800
아파트          청운현대  광화문스페이스본(106동)   경희궁의아침2단지
층               2               6           4
년            2021            2021        2021
월               1               1           1
일              14               7          15

In [13]:
apt_trade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60133 entries, 0 to 60132
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래금액    60133 non-null  int64
 1   거래유형    60133 non-null  object
 2   건축년도    60133 non-null  int64
 3   전용면적    60133 non-null  float64
 4   법정동     60133 non-null  object
 5   법정동코드   60133 non-null  object
 6   아파트     60133 non-null  object
 7   층       60133 non-null  int64
 8   년       60133 non-null  int64
 9   월       60133 non-null  int64
 10  일       60133 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 5.0+ MB

In [14]:
apt_trade_final = pd.merge(apt_trade,legal_geo_info_2,
                          on = '법정동코드',
                          how ='left')

apt_trade_final

,거래금액,거래유형,건축년도,전용면적,법정동,법정동코드,아파트,층,년,월,일,시도명,시군구명,동리명,geometry
0,130000,,2000,129.7600,청운동,1111010100,청운현대,2,2021,1,14,서울특별시,종로구,NaN,"POLYGON ((953700.022 1954605.065, 953693.871 1..."
1,150000,,2008,144.5200,사직동,1111011500,광화문스페이스본(106동),6,2021,1,7,서울특별시,종로구,NaN,"POLYGON ((952745.849 1953334.909, 952758.791 1..."
2,175000,,2004,174.5500,내수동,1111011800,경희궁의아침2단지,4,2021,1,15,서울특별시,종로구,NaN,"POLYGON ((953504.696 1952866.960, 953505.697 1..."
3,175000,,2004,174.5500,내수동,1111011800,경희궁의아침2단지,4,2021,1,15,서울특별시,종로구,NaN,"POLYGON ((953504.696 1952866.960, 953505.697 1..."
4,180000,,2004,123.1300,내수동,1111011800,경희궁의아침3단지,13,2021,1,17,서울특별시,종로구,NaN,"POLYGON ((953504.696 1952866.960, 953505.697 1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60128,22800,,2015,69.0088,성산읍 고성리,5013025924,드림펠리스,4,2021,1,21,제주특별자치도,서귀포시,고성리,"MULTIPOLYGON (((944514.344 1490162.400, 944510..."
60129,23000,,2017,84.8200,안덕면 화순리,5013031021,엘림피렌체3차,4,2021,1,26,제주특별자치도,서귀포시,화순리,"MULTIPOLYGON (((889476.251 1469109.037, 889465..."
60130,23000,,2017,84.8200,안덕면 화순리,5013031021,엘림피렌체3차,4,2021,1,26,제주특별자치도,서귀포시,화순리,"MULTIPOLYGON (((889476.251 1469109.037, 889465..."
60131,23000,,2017,84.8200,안덕면 화순리,5013031021,엘림피렌체3차,4,2021,1,26,제주특별자치도,서귀포시,화순리,"MULTIPOLYGON (((889476.251 1469109.037, 889465..."
60132,23000,,2017,84.0500,안덕면 화순리,5013031021,엘림피렌체3차,5,2021,1,26,제주특별자치도,서귀포시,화순리,"MULTIPOLYGON (((889476.251 1469109.037, 889465..."

### 아파트 전월세 데이터 전처리